::selection {
    background: #495b67;
    color: #fff;
    text-shadow: none;
}

h1 {
    margin: 0 0 20px;
}

code, pre {
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

pre {
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    color: #495b67;
    padding: 8px 12px;
    border-radius: 6px;
    overflow-x: auto;
    font-size: 14px;
    line-height: 24px;
}

.hs-doc-sidenav {
    margin-right: 20px;
    margin-bottom: 40px;
}

.hs-doc-content {
    margin-bottom: 40px;
    min-height: 600px;
}

.hs-doc-content > *:first-child {
    margin-top: 0;
    line-height: 40px;
}

.hs-public-sidenav li.current-nav-item {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* http://getbootstrap.com/assets/css/docs.css */

/* Callouts */

.hs-doc-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}

.hs-doc-callout h4 {
    margin-top: 0;
}

.hs-doc-callout p:last-child {
    margin-bottom: 0;
}

.hs-doc-callout code,
.hs-doc-callout .highlight {
    background-color: #fff;
}

/* Callout variations */

.hs-doc-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}

.hs-doc-callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}

.hs-doc-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}