@media(max-width: 1080px) {
    #hs-nav-v3.nav-width-flex .nav-section-inner {
        min-width: 0px;
        max-width: 100% !important;
    }
}

@media(max-width: 768px) {
    #hs-nav-v3 li {
        display: none !important;
    }

    #hs-nav-v3 li.first {
        display: block !important;
    }
}